<footer>
        <a href="#"> <img src="/img/Blason_ville_Hirel_35.svg.png" alt="logo ville" id=""> Hirel</a>
        <ul>
                <li>
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <span>2 rue des Ecoles</span>
                        <span>35120 HIREL</span>
                </li>
                <li>
                        <i class="fa-solid fa-phone fa-2xl"></i>
                        <span>02 99 48 93 93</span>
                </li>
                <li>
                        <i class="fa-solid fa-envelope fa-2xl"></i>
                        <span>mairie.hirel@wanadoo.fr</span>
                </li>
        </ul>
</footer>