<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mairie de Hirel</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/<%=css%>.css">
  <script src="https://kit.fontawesome.com/d25b357e56.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">
        <div class="logo">
          <a href="/"> <img src="/img/Blason_ville_Hirel_35.svg.png" alt="logo ville" id="blason"> Hirel</a>
        </div>  
        <nav>
          <form class="search" action="search.php"> 
            <input name="q" placeholder="Search..." type="search">
          </form>
          <ul>
            <li>
              <a href="">Vie Municipale</a>
              <ul class="mega-dropdown">
                <li class="row">
                  <ul class="mega-col">
                    <li><a href="/conseil">Conseil municipal</a></li>
                    <li><a href="/comissions">Comissions</a></li>
                    <li><a href="#">Contacts pratiques</a></li>
                    <li><a href="#">Comptes-rendus</a></li>
                    <li><a href="#">Appels d'offre</a></li>
                  </ul>
                </li>
              </ul>   
            </li>
            <li>
              <a href="">Vie Quotidienne</a>
              <ul class="mega-dropdown">
                <li class="row">
                  <ul class="mega-col">
                    <li><a href="/news">Agenda</a></li>
                    <li><a href="#">Enfance</a></li>
                    <li><a href="#">Seniors</a></li>
                    <li><a href="#">Les associations</a></li>
                    <li><a href="#">Vie économique</a></li>
                    <li><a href="#">Location de la Salle</a></li>               
                </ul>
                </li>
              </ul>        
            </li>
            <li>
                <a href="">Vie Quotidienne</a>
                <ul class="mega-dropdown">
                  <li class="row">
                    <ul class="mega-col">
                      <li><a href="#">Herbegements</a></li>
                      <li><a href="#">Camping Car</a></li>
                      <li><a href="#">Les moulins</a></li>
                      <li><a href="#">Histoire</a></li>
                      <li><a href="#">Hirel en chiffres</a></li>
                    </ul>
                  </li>
                </ul>        
              </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
        </nav>
      </header>