<%- include('partials/header') %>
<h2>Comissions :</h2>

<h3>Comissions municipales</h3>
<div class="comissionContainer">
    <article class="oneComission">
        <h4>Urbanisme, voirie, assainissement et aménagement du territoire</h4>
        <div class="nameComission">
            <ul>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
            </ul>
        </div>
    </article>
    <article class="oneComission">
        <h4>Urbanisme, voirie, assainissement et aménagement du territoire</h4>
        <div class="nameComission">
            <ul>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
            </ul>
        </div>
    </article>
    <article class="oneComission">
        <h4>Urbanisme, voirie, assainissement et aménagement du territoire</h4>
        <div class="nameComission">
            <ul>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
            </ul>
        </div>
    </article>
</div>

<h3>Comissions municipales</h3>
<div class="comissionContainer">
    <article class="oneComission">
        <h4>Urbanisme, voirie, assainissement et aménagement du territoire</h4>
        <div class="nameComission">
            <ul>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
            </ul>
        </div>
    </article>
    <article class="oneComission">
        <h4>Urbanisme, voirie, assainissement et aménagement du territoire</h4>
        <div class="nameComission">
            <ul>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
            </ul>
        </div>
    </article>
    <article class="oneComission">
        <h4>Urbanisme, voirie, assainissement et aménagement du territoire</h4>
        <div class="nameComission">
            <ul>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
                <li>COSSONNIERE Alain</li>
            </ul>
        </div>
    </article>


</div>
<%- include('partials/footer') %>